<div class="subtitle">Hi. There.</div>
i'm david, creator of Snack Braff. i like to dabble and create things in as many forms as i possibly can and currently those creations are coming out in the form of; acrylic paintings, graphic designs, and web designs. (like this site you're on!)<br>