I have been using Apple's Logic Pro for 5 years now and love to try my hand at everything music related. The tracks that I have completed are mostly EDM/House style but I'm always willing to try new and foreign genres.
I also enjoy the post production process and have been previously tasked with mixing tracks for others. An area that I'm not familiar with but extremely interested in is music and sound design for video games so if you have an App or Indie Game that needs sound effects or a soundtrack, don't hesitate to get in touch! 

<br>
<br>
<div class="scplayer"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213521176&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe></div>
