<h1>Contact</h1>
<a href="https://instagram.com/snack_braff">
        <img border="0" alt="Snack Braff" src="https://image.flaticon.com/icons/png/512/69/69366.png" width="100">
    </a>
    <a href="mailto:david@davidrichardson.us">
        <img border="0" alt="david@davidrichardson.us" src="https://openclipart.org/image/2400px/svg_to_png/216530/Mail-Icon-White-on-Black.png" width="100" height="100">
    </a>
    <a href="https://snackbraff.bigcartel.com">
        <img border="0" alt="big cartel" src="https://i.warosu.org/data/fa/img/0110/40/1457486822955.png" width="100" height="100">
    </a>
<br>

    <a href="https://instagram.com/snack_braff">Instagram</a>
    <a href="mailto:david@davidrichardson.us">Email</a>
    <a href="https://snackbraff.bigcartel.com">Big Cartel</a>