<div class="contact"><h1>contact</h1>
<!--<a href="https://instagram.com/snack_braff">-->
<!--        <img border="0" alt="Snack Braff" src="https://image.flaticon.com/icons/png/512/69/69366.png" width="100">-->
<!--    </a>-->
<!--    <a href="mailto:david@davidrichardson.us">-->
<!--        <img border="0" alt="david@davidrichardson.us" src="https://openclipart.org/image/2400px/svg_to_png/216530/Mail-Icon-White-on-Black.png" width="100" height="100">-->
<!--    </a>-->
<!--    <a href="https://snackbraff.bigcartel.com">-->
<!--        <img border="0" alt="big cartel" src="https://i.warosu.org/data/fa/img/0110/40/1457486822955.png" width="100" height="100">-->
<!--    </a>-->
<!--<br>-->
<form method="post" action="https://statictoolkit.com/f/3ca59e83-b996-44d7-877b-9e8b0181a262" accept-charset="UTF-8">
    <!-- Your form here -->
<form class="cf">
  <div class="half left cf">
    <!--<input type="text" id="input-name" placeholder="Name">-->
<!--    <input type="email" id="input-email" placeholder="Email address">-->
<!--    <input type="text" id="input-subject" placeholder="Subject">-->
<!--  </div>-->

<!--    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>-->
<!--  </div>  -->
<!--  <input type="submit" value="Submit" id="input-submit">-->
<!--</form>-->
<!--<div class="form-group">-->
            <!--<label for="name">Name *</label>-->
            <input type="text" name="name" placeholder="Enter your name" required autofocus class="form-control" id="input-name">
        <!--</div>-->

        <!--<div class="form-group">-->
        <!--    <label for="email">Email *</label>-->
            <input type="email" name="email" id="input-email" placeholder="Enter your email" required class="form-control">
        <!--</div>-->

            <input type="text" name="subject" placeholder="Subject" required class="form-control">
        </div>

        <!--<div class="form-group">-->
          <div class="half right cf">
            <!--<label for="message">Your message *</label>-->
            <textarea rows="6" type="text" id="input-message" name="message" placeholder="Enter your message" required class="form-control"></textarea>
        </div>

        <div class="text-center">
            <input type="submit" name="body" value="Send message" id="input-submit">
        </div>
        </div>
</form>
    <!--<a href="https://instagram.com/snack_braff">Instagram</a><br>-->
    <!--<a href="mailto:david@davidrichardson.us">Email</a><br>-->
    <!--<a href="https://snackbraff.bigcartel.com">Big Cartel</a><br>-->
    <br>
    <br>
    <br>
</div>