<!--<div class="contact">-->
If you would like to commission a painting, discuss design or music ideas, or would just like to say hey; feel free to send me a message. 

    <form method="post" action="https://statictoolkit.com/f/3ca59e83-b996-44d7-877b-9e8b0181a262" accept-charset="UTF-8">
    <!-- Your form here -->
    <form class="cf">
        <div class="half left cf">
            <input type="text" name="name" placeholder="Enter your name" required autofocus class="form-control" id="input-name">
            <input type="email" name="email" id="input-email" placeholder="Enter your email" required class="form-control">
            <input type="text" name="subject" placeholder="Subject" required class="form-control">
        </div>
        <div class="half right cf">
            <textarea rows="6" type="text" id="input-message" name="message" placeholder="Enter your message" required class="form-control"></textarea>
        </div>

        <div class="text-center">
            <input type="submit" name="body" value="Send message" id="input-submit">
        </div>

    </form>
<!--</div>-->