@import "bootstrap-sprockets";
@import "bootstrap";
// @import "compass/css3";
// display: grid;
$red: #645986;
/* line 1, D:/Dropbox/school-code-institute/stream 1/landing-page/style.sass */
// *,
// *:before,
// *:after {
//     @include box-sizing(border-box);
// }
* {
    background-color: #351661;
    color: #faaa69;
}

html, body {
    min-height: 100vh;
}

a {
    color: #faaa69;
}

a:hover {
    text-decoration: underline;
    color: #aaabbc;
}

body {
    display: flex;
    flex-flow: row wrap;
    // font-weight: bold;
    text-align: center;
    height: 100%;
}

body > * {
    padding: 10px;
    flex: 1 100%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: bold;
    padding-right: 5%;
    color: #faaa69;
}
 
.main {
    text-align: right;
    padding-right: 5%;
    font-size: 1em;
    line-height: 165%;
}

.img {
    max-width: 75%;
    height: auto;
    padding: 3%;
    // display: flex;
    // justify-content: flex-end;
}

.art {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // border: 2px solid green;
    // padding-left: 10%;
}

.grid {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
    .aside-1 {text-align: center; }
    
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body { 
    margin: auto;
}
// FOOTER

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // align-content: space-between;
    background-color: #351661;
    color: #7d5bad;
    padding-right: 5%;
    text-align: right;
    border-top: 1px solid #7d5bad;
}

.aside-1 {
    font-size: 6em;
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    // padding-right: -5%;
    line-height: 80%;
    text-align: right;
    font-weight: bold;
}

.aside-2 {
    unicode-bidi:bidi-override;
    direction:rtl;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
}

.contact {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // border: 2px solid green;
}

.subtitle {
    font-size: 3em;
    text-align: left;
    color: #faaa69;
    font-weight: bold;
}

// PICS OF ART
// .container {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     margin: 0 auto;
//     max-width: 100%;
//     // padding: 0 1rem;
//     padding-top: -20%;
//     // border: 2px solid yellow;
// }

// .responsive-image {
//     max-width: 100%;
// }

// .cell img {
//     display: block;
// }

// .cell {
//     margin: 1rem;
// }
//  IMAGE SCALE 


// .img {
//     transition: all .2s ease-in-out;
//     transform: scale(.5);
// }

// .img:hover {
//     transform: scale(2.1);
//     // padding: 50%;
// }


// .line {
//     color: white;
//     text-align: center;
// }



// // CONTACT PAGEEEEEE

form {
    // max-width: 800px;
    text-align: center;
    margin: 20px auto;
    color: red;
    // border: 2px solid white;
    
    input, textarea {
        background-color: blue;
        color: red;
        border: 0; outline: 0;
        padding: 1em;
        border-radius: 8px;
        display: block;
        width: 100%;
        margin-top: 1em;
        @include box-shadow(0 1px 1px rgba(black, 0.1));
        resize: none;
        
    &:focus {
        @include box-shadow(0 0px 2px rgba($red, 1) !important);
    }
    }
    
    #input-submit {
        color: #f4f1de;
        background: $red;
        cursor: pointer;
    &:hover {
        @include box-shadow(0 1px 1px 1 px rgba(#aaa, 0.6));
    }
    }
    
    textarea {
        height: 126px;
    }
}
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.form-control {
    
    background-color: #f4f1de;
    color: #191d32;
}

