  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<footer class="footer">
  <p><a href="https://www.instagram.com/snack_braff"><img border="0" alt="Snack Braff Instagram" src="http://via.placeholder.com/100x100"</a> &copy; Snack Braff 2018</p>
</footer>