<!DOCTYPE html>
<html>

<head>
  <!--<title>Snack Braff</title>-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top">
    <header>
      <div class="nav">
        <a class="nav-link" href="/home">home.</a>
        <a class="nav-link" href="/music">music.</a>
        <a class="nav-link" href="/art">art.</a>
        <a class="nav-link" href="https://snackbraff.bigcartel.com">shop.</a>
        <a class="nav-link" href="/contact">contact.</a>
      </div>
    </header>
  </div>  
  <!--</section>-->

  <article class="main">
    <%= yield %>
<!--</section>-->
  </article>
  <aside class="aside aside-1">snack<br>braff.</aside>
  <!--<aside class="aside aside-2">snack<br>braff.</aside>-->
  <footer class="footer">
      <p>&copy; Snack Braff 2018</p>
    </footer>
  </section>
</body>
</html>
